:root{
	--oranges: #fb5b21;
}

.blue:root{
	--oranges: #3E38F2;
}

.red:root{
	--oranges: #FF422F;
}

.green:root{
	--oranges: #39FF3A;
}

.yellow:root{
	--oranges: #F2B90C;
}

.card-title{
	font-family: 'Poppins';
	font-size: 24px;
}

.card-text{
	font-family: 'Lato';
}

html .btn{
	background: var(--oranges);
	border-radius: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFF;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: none;
	font-size: 18px;
	font-family: 'Poppins';
	
}

html .btn:after{
	content: "";
	position: absolute;
	background: #2a2a2a;
	width: 0;
	height: 50px;
	top: 0;
	left: -100%;
	z-index: -1;
	transition: all 0.5s;
	
}

html .btn:hover:after{
	width: 100%;
	left: 0;
}

html .btn:hover{
	color: #FFF;
}

section{
	margin-bottom: 120px;
}

/* Header Start */

header{
	z-index: 17;
}

.header-top{
	padding: 10px 0;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Lato';
}

html .header-info ul li a{
	margin-right: 25px;
	color: #FFF;
	text-decoration: none;
	transition: all 0.5s;
}

html .header-info ul li a:hover{
	color: var(--oranges);
}

html .header-info ul li a i{
	transition: all 0.5s;
}

html .header-info ul li a:hover i{
	color: var(--oranges);
}

html .header-info ul li i{
	margin-right: 10px;
	color: #FFF;
}

html .header-social-icon ul li i{
	margin-left: 20px;
	color: #FFF;
	transition: all 0.5s;
}

html .header-social-icon ul li i:hover{
	color: var(--oranges);
}

html nav{
	font-family: 'Poppins';
}

html nav div div ul li{
	margin-left: 26px;
}

html .navbar-dark .navbar-nav .active>.nav-link{
	color: var(--oranges) !important;
}

html nav div div ul li a{
	color: #FFF !important;
	transition: all 0.5s;
}

html nav div div ul li a:hover{
	color: var(--oranges) !important;
}

html nav div div ul li .dropdown-menu{
	margin-top: 8px;
	background: var(--oranges) !important;
}

html .colse-ico{
	font-size: 34px;
	color: #FFF;
	cursor: pointer;
	display: none;
}

/* Header End */


/* Carousel Start */
html .carousel .carousel-inner .carousel-item img{
	background-size: cover;
	margin: 0;
}

html .carousel-indicators{
	z-index: ;
}

html .carousel-indicators li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: none;
	border: 2px solid #FFF;
}

html .carousel-indicators .active{
	background: #FFF;
}

html .carousel-caption{
	top: 40%;
}

html .carousel-caption h5{
	font-size: 40px;
	font-family: 'Poppins';
	font-weight: 500;
}

html .carousel-caption p{
	font-size: 22px;
	font-family: 'Poppins';
	font-weight: 300;
}

/* Carousel End */


/* About Fitza Start*/

.about-fitza p{
	font-family: 'Poppins';
	color: #6a6a6a;
}

.about-fitza div h3{
	font-family: 'Poppins';
	font-size: 32px;
}

.about-fitza div h3>span{
	color: var(--oranges); 
}

.about-fitaza div h2{
	font-family: 'Poppins';
	font-size: 32px;
	margin-bottom: 50px;
}

.about-fitaza div h2>span{
	color: var(--oranges); 
}

.about-fitaza .card{
	position: relative;
	height: 415px;
	transition: all 0.5s;
}

.about-fitaza .card:hover{
	height: 480px;
}

.about-fitaza .card:hover h3{
	top: 200px;
}

html .about-fitaza h3{
	font-family: 'Poppins';
	font-size: 172px;
	color: var(--oranges);
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	opacity: 0.3;
	text-align: center;
	transition: all 0.5s;
}

html .btn-effect{
	transform: translateY(-100px);

	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

html .card:hover .btn-effect{
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}

/* About Fitza End*/


/* Contact Baneer Start */

.contact-baneer{
	padding: 100px 0;
}

.contact-baneer h3{
	font-family: 'Poppins';
	font-size: 32px;
}

.contact-baneer p{
	font-family: 'Lato';
	font-size: 17px;
}

/* Contact Baneer End */


/* Top Classes Start */

.top-classes-text h3{
	font-family: 'Poppins';
	font-size: 32px;
}

.top-classes-text p{
	font-family: 'Lato';
	font-size: 17px;
}

.top-classes-text span{
	color: var(--oranges);
}

.classes-data{
	margin-top: 70px;
}

.classes-data div>h5{
	padding-top: 15px;
	padding-bottom: 25px;
	font-weight: 600;
	font-family: 'Poppins';
}

/* Top Classes End */


/* Owl Carousel Start */

.owl-carousel .item h5{
	font-family: 'Poppins';
	font-size: 18px;
}

.owl-carousel .item p{
	font-family: 'Lato';
	font-size: 17px;
	color: #6a6a6a;
}
.owl-theme .owl-nav{
	margin-top: 0 !important;
	padding-top: 50px;
}

.owl-carousel .carousel-modifiy{
	align-items: center;
    margin: auto;
}

.carousel-data h3{
	font-size: 32px;
	font-family: 'Poppins';
}

.owl-carousel-border{
	border-top: 2px solid #dad9d9;
	border-bottom: 2px solid #dad9d9;
	padding: 100px 0;
	background: #f6f6f6;
}

.owl-carousel .owl-item img{
	border-radius: 50%;
}

.reating{
	width: 100%;
	height: 17px;
	background: url(../image/sprite-icon.png);
	background-repeat: no-repeat;
	background-position: -52px 0px;
}

.reating .reating-1{
	width: 40%;
	height: 17px;
	background: url(../image/sprite-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -23px;
}

.owl-theme .owl-nav{
	padding-top: 34px;
}

.owl-theme .owl-nav .owl-prev, .owl-next{
	width: 30px;
	height: 30px;
	background: #2a2a2a !important;
	color: #FFF !important;
}

/* Owl Carousel End */


/* Pricing Start */

.pricing-heading h3{
	font-family: 'Poppins';
	font-size: 32px;
}

.pricing-heading h3 span{
	color: var(--oranges);
}

.pricing-heading p{
	font-family: 'Lato';
	font-size: 17px;
	color: #6a6a6a;
}

.pricing-data{
	margin-top: 70px;
}

.pricing-data h4{
	font-family: 'Poppins';
	font-size: 24px;
}

.pricing-data .card{
	border: 4px solid #FFF !important;
	box-shadow: 0px 8px 43px rgba(0, 0, 0, 0.1);
}

.pricing-data .card-body  h5{
	font-size: 40px;
	font-family: 'Poppins';
}

.pricing-data .card-body  h5>span{
	font-size: 14px;
}

.pricing-data .card-body{
	background: #f5f7fa;
}

.pricing-data .list-group-flush .list-group-item{
	background: #f5f7fa;
	font-family: 'Lato';
	font-size: 16px;
} 

/* Pricing End */

/* Appointment Start */

.appointment{
	padding: 100px;
}

.appointment-data p{
	font-size: 22px;
	font-family: 'Lato';
}

.appointment-data h3{
	font-size: 40px;
	font-family: 'Poppins';
}

/* Appointment End */


/* News Start */

.news-heading h3{
	font-size: 32px;
	font-family: 'Poppins';
}

.news-heading h3 span{
	color: var(--oranges);
}

.news-data{
	margin-top: 80px;
}

.news-data .card .card-body h5{
	font-size: 18px;
	font-family: 'Poppins';
	margin: 10px 0;
}

.news-data .card .card-body p{
	font-size: 18px;
	font-family: 'Lato';
}

.news-data .card .card-image-1, .news-data .card .card-image-2, .news-data .card .card-image-3{
	position: relative;
	background: url(../image/news-1.jpg);
	width: 100%;
	height: 219px;
	background-size: cover;
}

.news-data .card .card-image-2{
	background: url(../image/news-2.jpg);
	background-size: cover;
}

.news-data .card .card-image-3{
	background: url(../image/news-3.jpg);
	background-size: cover;
}

.news-data .card .card-image-1 .news-caption, .news-data .card .card-image-2 .news-caption, .news-data .card .card-image-3 .news-caption{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 70px;
	height: 80px;
	background: #1e2432;
	color: #fff;
	padding: 10px;
}

.news-data .card .card-image-1 .news-caption h3, .news-data .card .card-image-2 .news-caption h3, .news-data .card .card-image-3 .news-caption h3{
	font-family: 'Poppins';
	font-size: 36px;
	margin: 0;
	text-align: center;
}

.news-data .card .card-image-1 .news-caption p, .news-data .card .card-image-2 .news-caption p, .news-data .card .card-image-3 .news-caption p{
	font-family: 'Lato';
	font-size: 18px;
	margin: -10px;
	text-align: center;
	font-weight: 300;
}

/* News End */

/* Footer Start */

.footer-top{
	background: var(--oranges);
}

.footer-form i{
	font-size: 26px;
}

.footer-form .form-control{
	border-radius: 0;
}

.footer-form .submit-btn{
	background: #FFF;
	padding: 6px 15px;
	color: #000;
	font-family: 'Lato';
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	transition: all 0.5s;
}

.footer-form .submit-btn:hover{
	background: #2a2a2a;
	color: #fff;
}

.footer-body{
	background: url(../image/footer.jpg);
	width: 100%;
	height: auto;
	background-position: center;
	background-size: cover;
	padding: 60px 0; 
}

.footer-body .footer-data-1 a img{
	margin-bottom: 20px;
}

.footer-body .footer-data-1 p{ 
	font-family: 'Poppins';
	font-size: 15px;
}

.footer-body ul li{
	padding-bottom: 10px;
}

.footer-body ul li a{
	color: #FFF;
	text-decoration: none;
	font-family: 'Lato';
	font-size: 14px;
}

.footer-body ul li a i{
	color: var(--oranges);
	margin-right: 20px;
}

.footer-body .footer-data-2 h3{
	color: #FFF;
	font-size: 22px;
	font-family: 'Poppins';
	margin-top: 5px;
}

.footer-body .footer-data-2 ul{
	margin-top: 18px;
}

.footer-body .footer-data-2 ul li{
	border-bottom: 3px dotted #FFF;
	margin-top: 15px;
	justify-content: space-between;
    display: flex;
}

.footer-body .footer-data-2 ul li a{
	font-size: 15px;
	font-family: 'Lato';
}

.footer-body .footer-data-2 ul li span{
	font-family: 'Lato';
	font-size: 15px;
	color: #FFF;
}

.footer-bottom{
	background: #050913;
}

.footer-bottom div div div p{
	margin: 0;
	padding: 30px 0;
	font-family: 'Lato';
	font-size: 18px;
}

/* Footer End */


/* Back-to-top Start */

.backto-top{
	width: 40px;
	height: 40px;
	background: var(--oranges);
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	line-height: 35px;
	text-align: center;
	font-size: 32px;
	color: #fff;
	cursor: pointer;
	display: none;
}

.backto-top.on{
	display: block;
}

/* Back-to-top End */


/* Theme Start */

.theme{
	width: 300px;
	height: 250px;
	background: #FFF;
	position: fixed;
	bottom: 30%;
	left: 0;
	z-index: 999;
	transform: translateX(-301px);
	transition: all 0.5s;
	border-radius: 20px;
	display: flex;
	align-items: center;
}

.theme .btn-left{
	width: 40px;
	height: 40px;
	background: var(--oranges);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	left: 100%;
	transition: all 0.5s;
	text-align: center;
}

.fa-chevron-left:before{
	font-size: 24px;
	display: block;
	width: 20px;
	color: #FFF;
	line-height: 40px;
}

.theme .btn-right{
	width: 40px;
	height: 40px;
	background: var(--oranges);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 0;
	transition: all 0.5s;
	text-align: center;
}

.fa-chevron-right:before{
	font-size: 24px;
	display: block;
	width: 20px;
	color: #FFF;
	line-height: 40px;
}

.theme-data{
	display: flex;
	flex-wrap: wrap;
	padding: 20px 40px;
}

.theme-data .blue{
	width: 80px;
	height: 80px;
	background: #3E38F2;
	margin-right: 20px;
	margin-bottom: 20px;
}

.theme-data .red{
	width: 80px;
	height: 80px;
	background: #FF422F;
}

.theme-data .green{
	width: 80px;
	height: 80px;
	background: #39FF3A;
	margin-right: 20px;
}

.theme-data .yellow{
	width: 80px;
	height: 80px;
	background: #F2B90C;
}

/* Theme End */


/* Baneer Start */

.baneer{
	background: url(../image/baneer-image-2.jpg);
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.baneer h2{
	text-align: center;
	margin-top: auto;
	line-height: 450px;
	color: #FFF;
}

/* Baneer End */

/* Service Start */

html .service-detail h2{
	font-size: 64px;
	font-family: 'Poppins';
	margin-bottom: 30px;
}

html .service-detail h3{
	color: var(--oranges);
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 30px;
}

html .service-detail ul li{
	font-size: 18px;
	font-family: 'Lato';
	margin: 15px 0;
}

html .service-detail ul li span{
	color: var(--oranges);
	margin-right: 10px;
}

html .service-img img{
	border-radius: 10px;
	margin-bottom: 30px;
}

.service-info{
	width: 100%;
	height: auto;
	background: var(--oranges);
	padding: 20px;
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.service-info:hover.service-info:after{
	top: 0;
	left: 0;
}

.service-info:hover.service-info:before{
	bottom: 0;
	right: 0;
}

.service-info:after{
	content: "";
	width: 100%;
	height: 100%;
	background: #2a2a2a;
	position: absolute;
	top: -100%;
	left: -100%;
	z-index: -1;
	transition: all 0.9s;
}

.service-info:before{
	content: "";
	width: 100%;
	height: 100%;
	background: #2a2a2a;
	position: absolute;
	bottom: -100%;
	right: -100%;
	z-index: -1;
	transition: all 0.9s;
}

.service-info i{
	font-size: 64px;
	color: #FFF;
}

.service-info h3{
	margin: 20px 0;
	padding: 0;
	font-family: 'Poppins';
	font-size: 24px;
}

.service-info p{
	margin: 0;
	padding: 0;
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 400;
}

/* Service End */

html .registration-form h3{
	font-family: 'Poppins';
	font-size: 32px;
	text-align: center;
	margin-bottom: 60px;
}

html .registration-form h3 span{
	color: var(--oranges);
}

html .form-control:focus{
    border-color: var(--oranges);
    outline: 0;
    box-shadow: 0 0 0 1px var(--oranges);
}